.wrapper {
    flex-direction: column;
    display: flex;
    width: 75%; 
    justify-content: center;
    gap: 12px;
}

.header {
    flex-direction: column;
    display: flex;
    gap: 8px;
}

.gallery-container {
    flex-direction: row; 
    display: flex; 
    gap: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
}


.img-container {
    height: 300px; 
    box-shadow: 1px 1px 5px black;
    margin-bottom: 8px;
}

.gallery-image {
    height: 100%;
    width: 100%;
    cursor: pointer; 
}

.flickr {
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    padding: 0.5px;
    border-radius: 3px;
}

.see-more {
    flex-direction: horizontal;
    display: flex; 
    gap: 12px;
    align-items: center;
}

.dialog-img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}


.dialog-img {
    max-width: 95%;
    max-height: 500px; 
    box-shadow: 1px 1px 5px black;
}

.dialog-container {
    flex-direction: column;
    display: flex; 
    justify-content: center;
    height: 100%;
    max-width: fit-content;
    padding: 18px; 
}

.description {
    margin-left: 24px; 
}

ul {
    margin-top: 0px; 
    margin-bottom: 0px; 
    padding-top: 0px; 
}

h3 {
    margin-top: 4px; 
    margin-bottom: 4px;
}

li:not(:last-child) {
    margin: 0px;
    padding: 0px;
}