.art {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.default {
    width: 100%;
    height: 100%;
}

.default:hover {
    animation: appear 3s linear infinite
}

.formatting-style-0 {
    border-radius: inherit;
}

.formatting-style-1 {
    overflow: clip; 
    height: 100%;
    width: 60%;
}

.formatting-style-2 {
    overflow: clip;
    height: 100%;
    width: 75%;
}

@keyframes appear {
    0% {
       opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}
