.preview-container {
    height: 150px;
    min-width: 250px;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;;
}

.coming-soon-block {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

a {
    text-decoration: none;
}