.row-header {
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    gap: 8px; 
    margin-bottom: 8px; 
}
.row-header-title {
    font-size: 40px;
    width: fit-content; 
}

.row-header-text {
    width: fit-content; 
    padding: 8px; 
    font-size: 20px; 
}

.items {
    flex-direction: row;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    padding: 5px;
}
