.horizontal {
    flex-direction: row;
    display: flex;
    gap: 20px;
}

.vertical {
flex-direction:column;
    display: flex;
    gap: 20px;
}

.name {
    font-size: 60px;
}

.me-pic-cropper {
    height: 100%;
    transform: translateY(-10%);
    position:relative;
    clip-path: circle(45%);
}

.linkedin {
    fill: #0077B5 !important;
    color: #0077B5;
}


