.horizontal {
    flex-direction: row;
    display: flex;
    gap: 20px;
    margin-bottom: 20px; 
}

.me-image-container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .horizontal {
        flex-direction: column;
        display: flex;
        padding: 20px;
        max-width: 90vw;
        flex-wrap: wrap;
    }
}

.vertical {
    flex-direction:column;
    display: flex;
    gap: 4px;
}

.name {
    font-size: 45px;
}

