.App {
  min-height: 100vh;
  padding: 20px;
  background-color: #FCFBF4;
  color: black; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  flex-direction: column;
  max-width: 120vh;
}

.row-wrapper {
  position:relative;
  top:-10px;
  flex-direction: column;
  display:flex;
  gap: 28px
}