.aside-text {
    margin-bottom: 20px; 
    font-size: 12px; 
}

.json-button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.json-viewer-container {
    width: 90vw; 
}

.sample-json-container {
    flex-direction: row;
    display: flex; 
}

.sample-json-buttons {
    display: flex; 
    gap: 4px;
}

.sample-json-button {
    margin-left: 4px; 
    cursor: pointer; 
}

.json-viewer-content {
    gap: 12px; 
    flex-direction: column;
    display: flex;
}

.json-text-input {
    width: 60vw;
}

.horizontal {
    flex-direction: row;
    display:flex; 
}

.tabbed {
    margin-left: 20px;
}

.bolded {
    font-weight: 700;
}

.color-1 {
    color: #3CC39D
}

.color-2 {
    color: #9D3CC3;
}

.color-3 {
    color: #C39D3C;
}
